### This is the beginning of a beautiful thing.

In [ ]:
import pandas as pd
import tensorflow as tf
import itertools as it
import numpy as np

In [24]:
sample = np.random.choice(10, 3)
print(sample)

df = pd.DataFrame(sample.reshape(1,-1))
print(df)

[3 6 7]
   0  1  2
0  3  6  7

In [34]:
VECT_LEN = 10
MAX_VAL = 1000
NB_OBS = 100

input_x = pd.DataFrame(np.random.choice(MAX_VAL, [NB_OBS, VECT_LEN]), columns=('x_'+str(i+1) for i in range(VECT_LEN)))
input_x.head()

   x_1  x_2  x_3  x_4  x_5  x_6  x_7  x_8  x_9  x_10
0  621  633  423  678  298  933  718  482  879   220
1  673  130  151  872  597  157  868  471  586   914
2  209  662  232  166  560   21  427  375  727   344
3  426  939  196  586  499  726  316  929  963   195
4  534  652  281  963  870  518  215  548  536   299